* 
{
    margin: 0;
    padding: 0;
    font-family: DINPro Medium;
}

:root
{
    --color_background: #111111;
    --color_directory: #222222;
    --color_navbar: #333333;
    --color_button_login: #07689f;
    --color_button_login_active: #1493dd;
}

a {color: white; text-decoration: none;}
ul {list-style: none}

body
{
    height: 100%;
    width: 100%;
    background: var(--color_background);
    color: var(--color_navbar);
}

#navbar
{
    height: 50px;
    padding: 10px;
    background: var(--color_navbar);
}

#button_login
{
    float: right;
    width: 100px;
    height: 50px;
    background: none;
    border: 2px solid var(--color_button_login);
    border-radius: 5px;
    transition: 0.4s;

    color: white;    
    font-size: 22px;
    text-align: center;
    padding-bottom: 4px;
}

#button_login:hover {background: var(--color_button_login); cursor: pointer;}
#button_login:focus {outline: none;}
#button_login:active
{
    background: var(--color_button_login_active);
    border: solid var(--color_button_login_active);
    transition: 0.1s;
}

#directory
{
    position: fixed;
    height: 100%;
    width: 10em;
    padding-top: 50px;
    padding-left: 50px;
    color: white;
    background: var(--color_directory);
    font-size: 22px;
}

.folder {margin-left: 1.5em;}
.folder:hover {cursor: pointer;}

#subfolder_documents {display: none;}
#subfolder_music {display: none;}
#subfolder_pictures {display: none;}
#subfolder_videos {display: none;}

li::before
{
    content: url("assets/branch.svg");
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em; 
    margin-right: 0.25em;
}

#form_login
{
    position: absolute;
    top: 15%;
    right: 50%;
    translate: translate(15%, 50%);
    width: 300px;
    height: 400px;
    border-radius: 5px;
    background: white;
    display: none;
}

#form_login_title
{
    font-size: 22px;
    text-align: center;    
    padding: 25px;
}

@font-face
{
    font-family: 'DINPro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro Medium'), url(assets/DINPro-Medium\ tr.woff) format('woff');
}