body
{
    width: 100%;
    height: 100%;
    background: #111111; 
}

@font-face
{
font-family: 'DINPro Light';
font-style: normal;
font-weight: normal;
src: local('DINPro Light'), url(assets/DINPro-Light\ tr.woff) format('woff');
}


@font-face
{
font-family: 'DINPro Medium';
font-style: normal;
font-weight: normal;
src: local('DINPro Medium'), url(assets/DINPro-Medium\ tr.woff) format('woff');
}

@font-face
{
font-family: 'DINPro Black';
font-style: normal;
font-weight: normal;
src: local('DINPro Black'), url(assets/DINPro-Black\ tr.woff) format('woff');
}

@font-face
{
font-family: 'DINPro Bold';
font-style: normal;
font-weight: normal;
src: local('DINPro Bold'), url(assets/DINPro-Bold\ tr.woff) format('woff');
}

.form_login
{
    position: absolute;
    top: 15%;
    right: 50%;
    transform: translate(50%, 20%);
    background: #ffffff;
    width: 300px;
    height: 400px;
    font-family: DINPro Medium;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
}

.button_login
{
    position: absolute;
    top: 25px;
    right: 25px;
    background: none;
    color: #ffffff;
    width: 100px;
    height: 45px;
    border: 2px solid #07689f;
    transition: 0.4s;
    font-family: DINPro Medium;
    font-size: 22px;
    border-radius: 5px;
}

.button_login:hover
{
    background: #07689f;
}

.button_login:focus
{ 
    outline: none;
}

.button_login:active
{
    background: #1493dd;
    border: solid #1493dd;
}